# Example: Simple Variables File in Ansible. 
---
- hosts: all
  vars_files:
    - my_vars_file.yml
    - "/opt/varsfiles/{{ env_vars }}.yml"
  
  tasks:
    - name: ping target server
      ping: $ping_server
